.main {
  height: calc(100% - 7rem);
}

.main>div:nth-child(1) {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.main>div:nth-child(1) img {
  width: 4rem;
}

.main>div:nth-child(1) h4 {
  font-size: 1.2rem;
}

.main>div:nth-child(2) {
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main>div:nth-child(2)>span {
  font-size: 0.8rem;
}

.main>div:nth-child(2)>span span {
  font-size: 1.6rem;
  color: #5c92ff;
  margin-right: 0.2rem;
}

.main>div:nth-child(2)>div {
  display: flex;
}

.main>div:nth-child(2)>div>input {
  border-radius: 0.2rem;
  width: 2rem;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.2rem;
  border: 1px solid #ccc;
  margin: 0.5rem;
}

.main>div:nth-child(2)>div>button>img {
  width: 1.5rem;
}

.main>div:nth-child(3) {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
  margin: 0 1rem;
}

.main>div:nth-child(3)>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main>div:nth-child(3) img {
  width: 1.6rem;
  margin-right: 0.5rem;
}

.main>div:nth-child(3)>div>div {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
}

.main>div:nth-child(3)>div>span {
  font-size: 0.8rem;
}

.main>div:last-child {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1rem auto;
  border-radius: 1.5rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 1rem;
  overflow: hidden;
}

.main>div:last-child>span {
  padding: 0.6rem 1.5rem;
}

.main>div:last-child>span>span {
  font-size: 1.2rem;
  color: #5c92ff;
}

.main>div:last-child>button {
  width: 6rem;
  background-color: #5c92ff;
  color: #fff;
}

.schedule {
  padding: 1rem;
}

.schedule table {
  width: 100%;
}

.schedule tr>td:last-child,
.schedule tr>th:last-child {
  width: 50%;
  text-align: right;
}

.schedule tr>th,
.schedule tr>td {
  text-align: left;
  font-size: 0.9rem;
}

.schedule tr:nth-child(2)>td {
  color: #ababab;
  font-size: 0.8rem;
}

.schedule tr:nth-child(3)>td div {
  height: 0.6rem;
  border-radius: 0.5rem;
}

.schedule tr:nth-child(3)>td>div {
  margin-top: 1rem;
  background: linear-gradient(100deg,
      rgba(150, 172, 255, 1) 0%,
      rgba(87, 217, 255, 1) 100%);
}

.schedule tr:nth-child(3)>td>div>div {
  background-color: #c3e1ff;
  width: 25%;
}