.home {
  height: calc(100% - 3.2rem);
  overflow-y: scroll;
}
.swiper-wrapper {
  height: 10rem;
}
.swiper-wrapper img {
  width: calc(100% - 2rem) !important;
  border-radius: 0.5rem;
  height: 9rem;
  margin: 0.5rem 1rem;
}

.data-list {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.list-item {
  position: relative;
  overflow: hidden;
  margin: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-touch-callout: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bac0cc;
  justify-content: space-between;
}
.list-item > button {
  width: 100%;
  display: flex;
}
.list-item > button > div:nth-child(1) {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.list-item img {
  width: 30%;
  height: 4.6rem;
}
.msg-title {
  font-size: 14px;
  text-align: left;
  margin: 0.4rem;
  margin-left: 0;
  height: 2.5rem;
}
.msg-date {
  font-size: 12px;
}

.exchanges {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem 0;
}
.exchanges > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.exchanges > div > p:first-child > span:first-child {
  font-weight: bold;
}
.exchanges > div > p {
  font-size: 0.6rem;
}
.exchanges > div > p:nth-child(2) {
  font-size: 1.2rem;
}
.exchanges > div > p:nth-child(3) {
  font-size: 0.8rem;
  color: #8f9eab;
}
.title {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  border-bottom: 1px solid #e7eaed;
}
.datas {
  display: flex;
  flex-wrap: wrap;
}
.datas > div {
  display: flex;
  flex-direction: column;
  width: calc(50% - 2rem);
  margin: 0.5rem;
  margin-top: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #e7eaed;
}
.datas > div > p:first-child {
  font-size: 0.7rem;
  color: #8F9EAB;
}
.datas > div > p:last-child {
  font-size: 1.2rem;
  margin-top: 0.2rem;
  color: #2A64E4;
}
.datas > div > p:last-child span {
  margin-right: 0.2rem;
  font-size: 1rem;
}
.monitors {
  overflow-x: scroll;
}
.monitors > div {
  width: 24rem;
  display: flex;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.monitors > div > button > img {
  width: 12rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
}
.monitors > div > button > p {
  font-size: 0.8rem;
  text-align: left;
}
.monitor {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.monitor > div:first-child {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-top: 0;
}
.monitor > div img {
  width: 2rem;
}

.lookMore::after {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/enter.png) no-repeat;
  background-size: 20px 20px;
  margin-left: 0.1rem;
}
